.fade-out {
    position: relative;
    white-space: nowrap;
    overflow: hidden; /* Adjust as needed */
    max-width: 310px;
    height: 2em; /* This should match your line height to ensure only one line is displayed */
}
  
.fade-out::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px; /* Width of the fade effect */
    background-color: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}